body
{
    color: whitesmoke;
    background-color: black;
    box-decoration-break: clone;
    width: auto;
}

#caixa_de_texto
{
    width: 300px;
    margin: 20px;
    color: black;
    padding: 10px;
    font-size: 11px;
    border: 1px solid #F3C178;
    outline: none;
    border-radius: 5px;
}

