
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d53636;
}

header {
    background-color: #003366;
    color: #ba1010;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

section {
    padding: 30px;
}

h2 {
    font-size: 24px;
    color: #003366;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

address {
    margin-top: 10px;
    font-style: normal;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

