* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #393535;
  
}
main{
    margin-left: auto;
    margin-right: auto;
}
header {
    
    color: #ffffff;
    padding: 20px 0;
    margin: 0px -388px ;
    text-align: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9) 0%, rgba(128, 128, 128, 0.9) 50%, rgba(251, 177, 68, 0.9) 100%);
}

h1 {
    font-size: 36px;
    margin: 10px 0;
    border-bottom: 10px;
    
}

section {
    padding: 30px;
    
}

h2 {
    font-size: 24px;
    color: #38afff;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
     
}

ul {
    list-style: disc;
    margin-left: 20px;
}

a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
}

address {
    color: white;
    margin-top: 10px;
    font-style: normal;
    text-align: left;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}

p {
    color: white;
    display: inline-block;
}
.figure {
    padding-left: 10%;
}
.figure img {
    width: 200px;
  
}

.texto-pau {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;

}
.texto-pau img{
    padding-right: 15px
}

ul{
    color: white;
    padding-top: 10px;
}

.contato{
    padding: 10px;
    background-color: #161aff;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    

}

.contato h2{
 
    padding: 1px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 2px;
}
