* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #000;
}

/* Estilo para o menu */
ul {
    list-style-type: none;
    padding: 0;
    background-color: #FFD700; /* Amarelo para a barra */
    height: 28px;
    text-align: right; /* Alinhar o texto ao centro */
    margin: 0; /* Remover margem padrão */
    overflow: hidden; /* Evitar que conteúdo flutue por baixo */
    color: black;

}

li {
    display: inline;
    margin-right: 20px;
    
}

li a {
    text-decoration: none;
    color: black; /* Letras em branco */
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave da cor do texto */ 
}

li a:hover {
    color: #FFA500; /* Cor laranja ao passar o mouse */
}

/* Estilo para as seções */
section {
    margin: 20px;
    padding: 20px;
    background-color: beige; /* Preto para o fundo das seções */
    border: 1px solid #333; /* Borda das seções */
    color: black; /* Cor do texto das seções */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

h2 {
    color: orange; /* Amarelo para o título das seções */
}
